
/*
Position
- relative: This value positions page elements on a webpage relative to where they would normally appear

Display
- flex: Display value that allows us to easily align multiple page elements vertically or horizontally

Float
- property used to float HTML elements left or right of neighboring elements
*/
h1 {
	font-family: 'Amatic SC', cursive;
	font-size: 200%;
}
ol, ul{
	list-style-type: none;
	font-family: 'Martel', serif;
}

.jumbotron {
    min-height: 250px; /* will restrict the layout to take minimum height of 250 px
 irrespective of the elements inside */
    padding: 5em inherit;
    
    /*https://tutorialzine.com/2015/09/quick-tip-the-simplest-way-to-center-elements-vertically-and-horizontally*/
    display: flex;
    justify-content: center;
    align-items: center;
	
	background-image: url("fresh2.jpg");
	background-position: top;
} 

h1 {
	font-family: 'Amatic SC', cursive;
	font-size: 150%;
}
h4 {
	font-family: 'Amatic SC', cursive;
}
ol {
	font-family: 'Martel', serif;
}





